<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header th:insert="~{header :: header}">

    </header>


    <section layout:fragment="content">

    </section>
    <footer th:insert="~{footer :: footer}" class="navbar fixed-bottom navbar-light bg-light ">


    </footer>
</body>
</html>